$disabled-button-color: #B3B3B3
$gray-text: #B3B3B3
$basic-font: "Open Sans", sans-serif

html
  height: 100%
  box-sizing: border-box

body
  position: relative
  margin: 0
  padding: 0
  min-height: 100%

button
  cursor: pointer !important

.footer
  position: absolute
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 64px

.subscription
  &__header
    width: 100% !important
    margin: 0 !important
    height: 50px
    border-bottom: 1px solid #b3b3b3 !important

    @media only screen and (max-width: 767px)
      padding-left: 15px

  &__items
    padding: 0 !important
    height: 49px

  &__image
    width: 14px
    height: 26px

  &__circle
    display: inline-block
    margin-right: 45px
    width: 24px
    height: 24px
    border-radius: 50%
    background-color: #00B0FF !important
    position: relative

    &:before
      content: ""
      height: 2px
      width: 60px
      background: #00B0FF
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: -60px

    &--last
      margin-right: 0

      &:before
        display: none

    @media only screen and (max-width: 767px)
      margin-right: 25px

      &:before
        height: 1px
        width: 25px
        right: -25px

  &__top
    top: 52px
    width: 100%
    margin-top: 10px

  &__centered-block
    margin-top: 8vh

  &__centered-text
    p
      font-family: $basic-font !important

  &__plan-container
    width: 377px

    @media only screen and (max-width: 767px)
      width: 300px

  &__plan
    width: 178px
    height: 178px
    border: solid 1px
    position: relative
    cursor: pointer !important
    border-color: $gray-text !important

    &-text
      color: #4D4D4D !important
      font-family: $basic-font !important

    &:hover
      border-color: #00B0FF !important

    @media only screen and (max-width: 767px)
      width: 141.132px
      height: 141.132px

  &__hover-touched
    width: 24px
    height: 24px
    background: #00B0FF !important
    position: absolute
    top: -12px
    left: -12px
    z-index: 3
    border-radius: 50%

    & img
      width: 14px
      height: 20px
      position: relative
      top: -1.5px
      left: 5px

    &--circle-hidden
      display: none
      border-color: #00B0FF !important

  &__forms-container
    margin-bottom: 50px

  &__forms
    display: none

    & input
      border: none
      border-radius: 0
      border-bottom: solid 1px

    & small
      opacity: 0

    & button
      position: relative
      top: -60px
      left: 292px
      border-radius: 14px !important

      @media only screen and (max-width: 767px)
        left: 216px

  &__text-one
    padding-left: 0 !important

    p
      margin: 0
      padding: 0

      @media only screen and (max-width: 767px)
        font-size: 12px !important

  &__page
    padding: 0 !important

  &__coupon-text
    & label
      font-size: 14px !important
      color: $gray-text !important
      cursor: pointer !important

.text-muted
  font-size: 14px !important
  color: $gray-text !important

.btn-go-to
  border-radius: 22.5px !important
  padding: 11px 58px !important
  margin: 0 28px !important

.selected
  border-color: #00B0FF !important

.pay
  &__items
    height: 100%

  &__text
    max-width: 363px
    font-size: 12px !important
    font-family: $basic-font !important
    color: $gray-text !important

    &-gray
      margin-right: 10px

    &-blue
      color: #00B0FF !important

    &-two
      font-size: 12px
      color: $disabled-button-color !important

      & a:hover
        text-decoration: none

  &__image
    img
      width: 280px
      height: 30px

  &__button
    z-index: 1
    & button
      background: #00B0FF
      background: rgba(0, 176, 255, 1)
      border-radius: 17px
      -moz-border-radius: 17px
      -webkit-border-radius: 17px
      font-size: 14px !important
      padding: 0.5rem 3.161rem

.billings
  margin-bottom: 56px
  margin-top: 10px

  &__container
    z-index: 1

  &__form-container
    margin-bottom: 22px

  &__all-forms
    width: 73.4%

    @media screen and (min-width: 320px) and (max-width: 1024px)
      width: 100% !important
      margin-bottom: 60px

  &__label-container
    width: 160px
    line-height: 1.7

    & label
      padding: 0
      margin: 0
      font-size: 0.875rem !important
      font-family: $basic-font !important
      color: #4D4D4D !important

    & button
      border-radius: 14px
      width: 82.5px

      &:disabled
        color: $disabled-button-color !important
        border-color: $disabled-button-color !important

  &__input-container
    width: 100%

    & input
      border: none
      border-bottom: 1px solid
      border-radius: 0
      border-color: $disabled-button-color !important
      font-size: 0.875rem !important
      padding-top: 5.5px
      padding-bottom: 5.5px

    & select
      border: none
      border-bottom: 1px solid
      border-radius: 0
      border-color: $disabled-button-color !important

    &--hidden
      display: none

  &__save-button
    width: 100%

    & button
      background: #4BC46A
      background: rgba(75, 196, 106, 1)
      border-radius: 17px
      -moz-border-radius: 17px
      -webkit-border-radius: 17px
      width: 140px

      &:disabled
        background-color: $disabled-button-color !important
        border-color: $disabled-button-color !important

      @media only screen and (max-width: 767px)
        width: 90px

  &__delete
    margin-right: 10px

  &__edit-title
    width: 12px
    height: 12px

  &__number
    width: 60% !important
    margin-right: 10%

  &__extra
    width: 30% !important

  &__border-style
    border-left: 1px solid
    border-color: #F2F2F2 !important

  &__control
    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    background: url(../assets/arrow.svg) no-repeat right center !important
    background-size: 13px !important
    background-position-y: center !important
    background-position-x: 98% !important

#billings__edit
  display: none

#billings__delete
  display: none

#all-forms
  display: none

#page-one
  height: 100% !important

#page-two
  display: none

#page-three
  height: 100% !important
  display: none

#page-three-button
  display: none

.circle-hidden
  display: none

.apply-button
  &:disabled
    background: $disabled-button-color !important
    border-color: $disabled-button-color !important
    color: #ffffff !important

#add-coupon
  padding: 0 !important
  color: $gray-text !important

h1, h2, h3, h4, h5, h6
  font-family: $basic-font !important
  font-size: 18px !important
  color: #4D4D4D !important

.payment
  &__title
    margin-bottom: 32px
    margin-top: 8px

    &-text
      font-size: 16px !important
      margin-bottom: 15px
      margin-top: 32px

      p
        font-size: 18px !important

      & a
        text-decoration: none

  &__margin
    margin-bottom: 32px

  &__text
    max-width: 340px

    &-style
      font-size: 14px !important
      color: #4D4D4D !important
      font-family: $basic-font !important

  &__image
    max-width: 389px
    height: auto

  &__footer
    height: 77px
