html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%; }

button {
  cursor: pointer !important; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px; }

.subscription__header {
  width: 100% !important;
  margin: 0 !important;
  height: 50px;
  border-bottom: 1px solid #b3b3b3 !important; }
  @media only screen and (max-width: 767px) {
    .subscription__header {
      padding-left: 15px; } }

.subscription__items {
  padding: 0 !important;
  height: 49px; }

.subscription__image {
  width: 14px;
  height: 26px; }

.subscription__circle {
  display: inline-block;
  margin-right: 45px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #00B0FF !important;
  position: relative; }
  .subscription__circle:before {
    content: "";
    height: 2px;
    width: 60px;
    background: #00B0FF;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -60px; }
  .subscription__circle--last {
    margin-right: 0; }
    .subscription__circle--last:before {
      display: none; }
  @media only screen and (max-width: 767px) {
    .subscription__circle {
      margin-right: 25px; }
      .subscription__circle:before {
        height: 1px;
        width: 25px;
        right: -25px; } }

.subscription__top {
  top: 52px;
  width: 100%;
  margin-top: 10px; }

.subscription__centered-block {
  margin-top: 8vh; }

.subscription__centered-text p {
  font-family: "Open Sans", sans-serif !important; }

.subscription__plan-container {
  width: 377px; }
  @media only screen and (max-width: 767px) {
    .subscription__plan-container {
      width: 300px; } }

.subscription__plan {
  width: 178px;
  height: 178px;
  border: solid 1px;
  position: relative;
  cursor: pointer !important;
  border-color: #B3B3B3 !important; }
  .subscription__plan-text {
    color: #4D4D4D !important;
    font-family: "Open Sans", sans-serif !important; }
  .subscription__plan:hover {
    border-color: #00B0FF !important; }
  @media only screen and (max-width: 767px) {
    .subscription__plan {
      width: 141.132px;
      height: 141.132px; } }

.subscription__hover-touched {
  width: 24px;
  height: 24px;
  background: #00B0FF !important;
  position: absolute;
  top: -12px;
  left: -12px;
  z-index: 3;
  border-radius: 50%; }
  .subscription__hover-touched img {
    width: 14px;
    height: 20px;
    position: relative;
    top: -1.5px;
    left: 5px; }
  .subscription__hover-touched--circle-hidden {
    display: none;
    border-color: #00B0FF !important; }

.subscription__forms-container {
  margin-bottom: 50px; }

.subscription__forms {
  display: none; }
  .subscription__forms input {
    border: none;
    border-radius: 0;
    border-bottom: solid 1px; }
  .subscription__forms small {
    opacity: 0; }
  .subscription__forms button {
    position: relative;
    top: -60px;
    left: 292px;
    border-radius: 14px !important; }
    @media only screen and (max-width: 767px) {
      .subscription__forms button {
        left: 216px; } }

.subscription__text-one {
  padding-left: 0 !important; }
  .subscription__text-one p {
    margin: 0;
    padding: 0; }
    @media only screen and (max-width: 767px) {
      .subscription__text-one p {
        font-size: 12px !important; } }

.subscription__page {
  padding: 0 !important; }

.subscription__coupon-text label {
  font-size: 14px !important;
  color: #B3B3B3 !important;
  cursor: pointer !important; }

.text-muted {
  font-size: 14px !important;
  color: #B3B3B3 !important; }

.btn-go-to {
  border-radius: 22.5px !important;
  padding: 11px 58px !important;
  margin: 0 28px !important; }

.selected {
  border-color: #00B0FF !important; }

.pay__items {
  height: 100%; }

.pay__text {
  max-width: 363px;
  font-size: 12px !important;
  font-family: "Open Sans", sans-serif !important;
  color: #B3B3B3 !important; }
  .pay__text-gray {
    margin-right: 10px; }
  .pay__text-blue {
    color: #00B0FF !important; }
  .pay__text-two {
    font-size: 12px;
    color: #B3B3B3 !important; }
    .pay__text-two a:hover {
      text-decoration: none; }

.pay__image img {
  width: 280px;
  height: 30px; }

.pay__button {
  z-index: 1; }
  .pay__button button {
    background: #00B0FF;
    background: #00b0ff;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    font-size: 14px !important;
    padding: 0.5rem 3.161rem; }

.billings {
  margin-bottom: 56px;
  margin-top: 10px; }
  .billings__container {
    z-index: 1; }
  .billings__form-container {
    margin-bottom: 22px; }
  .billings__all-forms {
    width: 73.4%; }
    @media screen and (min-width: 320px) and (max-width: 1024px) {
      .billings__all-forms {
        width: 100% !important;
        margin-bottom: 60px; } }
  .billings__label-container {
    width: 160px;
    line-height: 1.7; }
    .billings__label-container label {
      padding: 0;
      margin: 0;
      font-size: 0.875rem !important;
      font-family: "Open Sans", sans-serif !important;
      color: #4D4D4D !important; }
    .billings__label-container button {
      border-radius: 14px;
      width: 82.5px; }
      .billings__label-container button:disabled {
        color: #B3B3B3 !important;
        border-color: #B3B3B3 !important; }
  .billings__input-container {
    width: 100%; }
    .billings__input-container input {
      border: none;
      border-bottom: 1px solid;
      border-radius: 0;
      border-color: #B3B3B3 !important;
      font-size: 0.875rem !important;
      padding-top: 5.5px;
      padding-bottom: 5.5px; }
    .billings__input-container select {
      border: none;
      border-bottom: 1px solid;
      border-radius: 0;
      border-color: #B3B3B3 !important; }
    .billings__input-container--hidden {
      display: none; }
  .billings__save-button {
    width: 100%; }
    .billings__save-button button {
      background: #4BC46A;
      background: #4bc46a;
      border-radius: 17px;
      -moz-border-radius: 17px;
      -webkit-border-radius: 17px;
      width: 140px; }
      .billings__save-button button:disabled {
        background-color: #B3B3B3 !important;
        border-color: #B3B3B3 !important; }
      @media only screen and (max-width: 767px) {
        .billings__save-button button {
          width: 90px; } }
  .billings__delete {
    margin-right: 10px; }
  .billings__edit-title {
    width: 12px;
    height: 12px; }
  .billings__number {
    width: 60% !important;
    margin-right: 10%; }
  .billings__extra {
    width: 30% !important; }
  .billings__border-style {
    border-left: 1px solid;
    border-color: #F2F2F2 !important; }
  .billings__control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(../assets/arrow.svg) no-repeat right center !important;
    background-size: 13px !important;
    background-position-y: center !important;
    background-position-x: 98% !important; }

#billings__edit {
  display: none; }

#billings__delete {
  display: none; }

#all-forms {
  display: none; }

#page-one {
  height: 100% !important; }

#page-two {
  display: none; }

#page-three {
  height: 100% !important;
  display: none; }

#page-three-button {
  display: none; }

.circle-hidden {
  display: none; }

.apply-button:disabled {
  background: #B3B3B3 !important;
  border-color: #B3B3B3 !important;
  color: #ffffff !important; }

#add-coupon {
  padding: 0 !important;
  color: #B3B3B3 !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 18px !important;
  color: #4D4D4D !important; }

.payment__title {
  margin-bottom: 32px;
  margin-top: 8px; }
  .payment__title-text {
    font-size: 16px !important;
    margin-bottom: 15px;
    margin-top: 32px; }
    .payment__title-text p {
      font-size: 18px !important; }
    .payment__title-text a {
      text-decoration: none; }

.payment__margin {
  margin-bottom: 32px; }

.payment__text {
  max-width: 340px; }
  .payment__text-style {
    font-size: 14px !important;
    color: #4D4D4D !important;
    font-family: "Open Sans", sans-serif !important; }

.payment__image {
  max-width: 389px;
  height: auto; }

.payment__footer {
  height: 77px; }
